<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Contattaci
              <span class="sr-only">(current)</span>
            </a>
          </li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">registrati</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accedi
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" id="accesso-username" placeholder="Username">
              </div>

              <div class="form-group">
                <label>password</label>
                <input type="password" class="form-control" id="accesso-password" placeholder="Password">
              </div>

              <button type="submit" class="btn btn-primary">Accedi</button>

              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Non ricordo la mia password</a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Cerca</button>
        </form>

      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->

  </nav>
  <nav id="navbar-categorie" class="navbar navbar-default">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li id="categoria">
            <a href="#">Laptops </a>
          </li>
          <li id="categoria">
            <a href="#">Desktops </a>
          </li>
          <li id="categoria">
            <a href="#">Monitors </a>
          </li>
          <li id="categoria">
            <a href="#">Tablets </a>
          </li>
          <li id="categoria">
            <a href="#">Accessori </a>
          </li>
        </ul>
      </div>

  </nav>

  <!-- inizio contenuti -->
  <div id="contenuto" class="container">
    <% var i=0; %>
      <% while(i< prodotti.length) { %>
        <div class="row">
          <% for(var j =0; (j<4) && (i< prodotti.length); j++) { %>
            <div class="col-sm-3 col-xs-6">
              <div class="thumbnail">
                <img src="https://source.unsplash.com/280x280/?technology" alt="">
                <div class="caption">
                  <h3>
                    <%= prodotti[i].nome %>
                  </h3>
                  <p style="text-align: justify">
                    <%= prodotti[i].descrizione %>
                  </p>
                  <h3 style="text-align: center">
                    <%= prodotti[i].prezzo %> € </h3>
                  <hr></hr>
                  <p>
                    <a href="#" class="btn btn-primary " role="button">Compra</a>
                    <a href="#" class="btn btn-default" role="button">Dettagli</a>
                  </p>
                </div>
              </div>
            </div>
            <% i++; %>
              <% } %>

        </div>
        <% } %>


          <!--
                      <div class="row">
                          <div class="col-sm-3 col-xs-6">
                            <div class="thumbnail">
                              <img src="https://source.unsplash.com/280x280/?technology" alt="">
                              <div class="caption">
                                <h3>Oggetto</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                              </div>
                              
                            </div>
                          </div>
                          <div class="col-sm-3 col-xs-6">
                              <div class="thumbnail">
                                <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                <div class="caption">
                                    <h3>Oggetto</h3>
                                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                </div>
                                
                              </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="thumbnail">
                                  <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                  <div class="caption">
                                      <h3>Oggetto</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                    
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="col-sm-3 col-xs-6">
                                  <div class="thumbnail">
                                    <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                    <div class="caption">
                                        <h3>Oggetto</h3>
                                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                      
                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                    </div>
                                    
                                  </div>
                                </div>
                                
                          </div>
                          <div class="row">
                              <div class="col-sm-3 col-xs-6">
                                <div class="thumbnail">
                                  <img src="https://source.unsplash.com/280x280/?technology" alt="">
                                  <div class="caption">
                                    <h3>Oggetto</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                    
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                  </div>
                                  
                                </div>
                              </div>
                              <div class="col-sm-3 col-xs-6">
                                  <div class="thumbnail">
                                    <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                    <div class="caption">
                                        <h3>Oggetto</h3>
                                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                    </div>
                                    
                                  </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="thumbnail">
                                      <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                      <div class="caption">
                                          <h3>Oggetto</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                        
                                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-sm-3 col-xs-6">
                                      <div class="thumbnail">
                                        <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                        <div class="caption">
                                            <h3>Oggetto</h3>
                                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                          
                                          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                        
                                      </div>
                                    </div>
                                    
                              </div>
                              <div class="row">
                                  <div class="col-sm-3 col-xs-6">
                                    <div class="thumbnail">
                                      <img src="https://source.unsplash.com/280x280/?technology" alt="">
                                      <div class="caption">
                                        <h3>Oggetto</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                        
                                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-sm-3 col-xs-6">
                                      <div class="thumbnail">
                                        <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                        <div class="caption">
                                            <h3>Oggetto</h3>
                                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                        
                                      </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="thumbnail">
                                          <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                          <div class="caption">
                                              <h3>Oggetto</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                            
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                          </div>
                                          
                                        </div>
                                      </div>
                                      <div class="col-sm-3 col-xs-6">
                                          <div class="thumbnail">
                                            <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                            <div class="caption">
                                                <h3>Oggetto</h3>
                                              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                              
                                              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                            </div>
                                            
                                          </div>
                                        </div>
                                        
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-3 col-xs-6">
                                        <div class="thumbnail">
                                          <img src="https://source.unsplash.com/280x280/?technology" alt="">
                                          <div class="caption">
                                            <h3>Oggetto</h3>
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                            
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                          </div>
                                          
                                        </div>
                                      </div>
                                      <div class="col-sm-3 col-xs-6">
                                          <div class="thumbnail">
                                            <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                            <div class="caption">
                                                <h3>Oggetto</h3>
                                              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                            </div>
                                            
                                          </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="thumbnail">
                                              <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                              <div class="caption">
                                                  <h3>Oggetto</h3>
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                                
                                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                              </div>
                                              
                                            </div>
                                          </div>
                                          <div class="col-sm-3 col-xs-6">
                                              <div class="thumbnail">
                                                <img src="https://source.unsplash.com/280x280/?technology" alt="...">
                                                <div class="caption">
                                                    <h3>Oggetto</h3>
                                                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut sed minus atque corporis labore deleniti maiores ipsa soluta eius? Maiores delectus repellendus deserunt expedita unde suscipit voluptatibus eum assumenda accusamus.</p>
                                                  
                                                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                </div>
                                                
                                              </div>
                                            </div>
                                            
                                      </div>

                                    -->
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</body>

</html>