<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
  <div class="row">
    <ul class="nav navbar-nav">
      <li id="categoria">
        <a href="#" onclick="window.location = window.location.origin + '/profilo';">Profilo </a>
      </li>
      <li id="categoria">
        <a href="#" onclick="window.location = window.location.origin + '/profilo/storicoordini';">Ordini </a>
      </li>
    </ul>
  </div>
    <div id="container_user_contents" class="tabcontent">
        <%- include(contenuto_sub) %>
    </div>
 


</div>