<div class="conteiner-orders">
    <h1>
        I MIEI ORDINI
    </h1>
    <ul class="list-order">
        <li>
            <div class="order">
                <div class="order-details-button">
                    <input class="button-details-download" name="Dettagli ordine" type="submit" value="Dettagli ordine">
                </div>
                <div class="order-date">
                    AQUISTATO IL: 05/05/2011
                </div>
                <div class="total-order-price">
                    TOTALE ORDINE
                </div>
            </div>
        </li>
    </ul>
</div>