

.navbar{
    background-color: rgb(13, 37, 68);
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
  background-color: inherit;
}
#categoria>a:hover{
    background-color:rgb(100, 223, 81);
    color:rgb(6, 85, 182);
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:hover {
    color: green;
}
#navbar-categorie{
    position: fixed;
    width: 100%;
    background-color: rgb(9, 99, 9);
    margin-top: 50px;
    height: 51px;
    z-index: 1;
}

#contenuto{
    padding-top: 120px;
}
#categoria{

    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#profilo{

    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.carousel-inner {
    border-radius: 4px;
    

}
.carousel-inner > .item{
    
    height:250px;
    background-size: cover;
    background-position: center;
   
    
}

#row-prodotto{
    border:1px solid green;
    border-radius: 4px;
    height: 300px;
    padding: 20px;
}



